<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de usuario colaborador en Vinil</title>
</head>

<body>
  <p>Hola {{name}} {{lastName}},</p>
  <p>El equipo de Vinil OIFA le da la bienvenida</p>
  <p>Este mensaje es para informarle que se ha registrado un usuario colaborador con el correo electrónico <a
      href="mailto:{{email}}">{{email}}</a>.</p>
  <p>Su contraseña de acceso es: <b>{{password}}</b></p>
  <p>Puedes empezar a utilizar la aplicación en el <a
      href="https://vinil-oifa.herokuapp.com/colaboradores/iniciar-sesion">inicio de sesion de colaboradores</a>.</p>
</body>

</html>